* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Heading';
  src: url('public/DVCCSupplement.ttf') format('ttf');
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Or absolute, depending on layout */
  z-index: 0;
}

#search {
  position: absolute;
  top: 45%;
}

#backgroundimg {
  width: 100%;
  position: relative;

}

#search-container h1 {
  background-color: #ce9731;
  font-family: 'Heading';
  font-size: 40px;
  color: 	#f9f9f9;
  margin: 0;
  padding: 1% 100%;
}

.parent-container {
  position: relative;
}

.business-list-container {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  gap: 100px; /* Space between items */
  justify-content: center;
  position: relative;
  top: -550px; /* Adjust this value to control vertical overlap */
  z-index: 1;
  padding: 100px 20% 0 20%
}

.blist {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 330px; /* Same as the width of .Bimage */
}


.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-info, .right-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.Bimage {
  width: 300px;
  height: 300px; 
}

.RestoName {
  margin-top: 0%;
  text-align: left;
}

